.star{
    cursor: pointer;
    color: yellow;
}
.close{
    cursor: pointer;
    color: red;
}

.btn-success:hover {
    background-color: #246b57;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.btn-success{
    border-radius: 30px;
    background: #1cd25e;
}

