.searchInput {
    width: 80%;
    display: inline;
    margin-right: 10px;
    border-radius: 15px;
}


.btn-danger {
    margin-left: 8px;
    margin-right: 8px;
    color: white;
    border-radius: 10px;
    border: 1.0px solid;
    background-color: #FF6583;

}

.btn-primary{
   color: white;
    background-color: #87a8f3;
    border: 1.0px solid;
    border-radius: 10px;
}

.btn-warning{
    color: white;
    background-color: #F3B334;
    border: 1.0px solid;
    border-radius: 10px;
}